@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --bg-primary:  #5c14a5; 
    --bg-footer:  #3c0f68;
    --link-color:  #130b01;
}


/* General body styles */

body {
    background-color: var(--bg-primary);
    font-family: "Poppins", sans-serif; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: auto;  
}
/* NAVIGATION */
nav {
    background: var(--bg-footer) !important;
}
audio {
    display: block;
}

/*Button  */
button {
    background:  #663399;
    color:  white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0px 7px;
    font-size: 1rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: 0;
}
/* Footer */

footer {
    background-color: var(--bg-footer);
}

footer a {
    color: var(--link-color);
}
