@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --bg-primary:  #235264; 
    --bg-footer: #0e303d;
    --text-color:  #4d7585;
    --link-color:#01151d;
}


/* General body styles */

body {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: auto;  
}

/* NAVIGATION */
nav {
    background: var(--bg-footer) !important;
}
/*Button  */
button {
    background: #47a386;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
}
/* Modal */
.modal {
    background: rgba(0, 0, 0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;                     /* Remove the modal */
    pointer-events: none;
    transition: 0.4s ease-in-out;
}

/* Modal show up */
.show {
    pointer-events: auto;
    opacity: 1;
}
.modal-content {
    width: 450px;
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: white;
    color: #333;
    line-height: 1.5;
    margin: 0px 20px;
}
.modal-header h2{
    margin: 5px;
    color: #333;
}
.modal-body p {
    font-size: 1rem;
    color: #5e6268;
    line-height: 1.5;
}
.modal-footer {
    margin-top: 15px;
}
/* Footer */

footer {
    background-color: var(--bg-footer);
    color: var(--primary-text-color);
}

footer a {
    color: var(--link-color);
    text-decoration: none;
}