@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --bg-primary:  #444444; 
    --bg-footer:  #333030;
    --text-color:   #333333;
    --link-color:  #1f1e1e;
    --primary-text-color: #8f8e8e;
}


/* General body styles */

body {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: auto;  
}

/* NAVIGATION */
nav {
    background: var(--bg-footer) !important;
}
h3 {
    margin-bottom: 25px;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
}

/*Button  */
button {
    background:  #cac4c8;
    color:  #333333;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s linear;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 0;
}
/* Footer */

footer {
    background-color: var(--bg-footer);
    color: var(--primary-text-color);
}

footer a {
    color: var(--link-color);
    text-decoration: none;
}