@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --bg-primary:  #122117; 
    --bg-footer:  #867e7e;
}


/* General body styles */

body {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: auto;  
}
.dark {
    background: #333;
    color: #f1f1f1;
}
/* NAVIGATION */
nav {
    background: var(--bg-footer) !important;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 10px;
}
p {
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #eee;
}
h5 {
    margin-top: 10px;
}
.darkTheme {
    padding: 40px;
}
.toggle {
    padding: 5px 25px;
}
