@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --bg-primary:  rebeccapurple; 
    --bg-footer: #350863;
    --text-color:  rgb(141, 120, 161);
    --link-color: #090111;
}


/* General body styles */

body {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0 0 3rem;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    width: 450px;
    max-width: 100%;
}

/* NAVIGATION */
nav {
    background: var(--bg-footer) !important;
}

.navbar a {
    color:#fcfcfcd2
}
.container {
 font-size: 1.5rem;
 text-align: center;   
 opacity: 0.8;
 font-weight: bold;
}

/* Footer */

footer {
    background-color: var(--bg-footer);
    color: var(--primary-text-color);
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
}